image: alpine:latest    # Ideally, a dedicated docker image with Truffle on it

before_script:
 - apk add --no-cache nodejs nodejs-npm git python g++ make
 - npm install

stages:
 - build
 - test
 - deploy

build:
 stage: build
 tags: [aireach]
 script:
   - truffle compile

test:
 stage: test
 tags: [aireach]
 script:
   - ganache-cli -p 8545 &     # We could also have a service
   - truffle test

deploy:
 stage: deploy
 tags: [aireach]
 script:
   - ganache-cli -p 8545 &
   - truffle migrate --network integration
